<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/BW650_Home/bw/palettes/sap/8.2//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/BW650_Home/bw/palettes/sap/8.2//runtime/plugins" type="Directory"/>


<location path="C:/BW650_Home/bw/6.5/system/hotfix/lib/common" type="Directory"/>
<location path="C:/BW650_Home/bw/6.5/system/lib/common" type="Directory"/>

<location path="C:/BW650_Home/bw/6.5/system/hotfix/palettes" type="Directory"/>
<location path="C:/BW650_Home/bw/6.5/system/palettes" type="Directory"/>

<location path="C:/BW650_Home/bw/6.5/system/hotfix/shared" type="Directory"/>
<location path="C:/BW650_Home/bw/6.5/system/shared" type="Profile"/>
</locations>
</target>
