{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection.352888f1-a3d1-4200-904a-ce7539c0987f",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "testproject.SAPConnectionResource",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "Testproject.application",
      "type": "java.lang.String"
    },
    "s_rfcTrace": {
      "name": "s_rfcTrace",
      "value": "0",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.s_bDynamicPool": {
      "name": ".type.s_bDynamicPool",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection",
      "type": "java.lang.String"
    },
    "rfcTrace": {
      "name": "rfcTrace",
      "value": "0",
      "type": "java.lang.String"
    },
    ".type.s_serverConnName": {
      "name": ".type.s_serverConnName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "password": {
      "name": "password",
      "value": "SAPPassword",
      "type": "java.lang.String"
    },
    "systemName": {
      "name": "systemName",
      "value": "SAPSystemName",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "Testproject",
      "type": "java.lang.String"
    },
    ".type.snc_mode": {
      "name": ".type.snc_mode",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.connType": {
      "name": ".type.connType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "s_maxConnections": {
      "name": "s_maxConnections",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.s_gatewayService": {
      "name": ".type.s_gatewayService",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.userName": {
      "name": ".type.userName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.snc_Bsso": {
      "name": ".type.snc_Bsso",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "s_enabled": {
      "name": "s_enabled",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.c_sapRepository_property": {
      "name": ".type.c_sapRepository_property",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "languageCode": {
      "name": "languageCode",
      "value": "E",
      "type": "java.lang.String"
    },
    ".type.appServer": {
      "name": ".type.appServer",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "isConnectionless": {
      "name": "isConnectionless",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection.352888f1-a3d1-4200-904a-ce7539c0987f",
      "type": "java.lang.String"
    },
    ".type.maxAttempts": {
      "name": ".type.maxAttempts",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "groupName": {
      "name": "groupName",
      "value": "SAPLogonGroup",
      "type": "java.lang.String"
    },
    ".type.s_enabled": {
      "name": ".type.s_enabled",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.s_gatewayHost": {
      "name": ".type.s_gatewayHost",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.s_connType": {
      "name": ".type.s_connType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.snc_x509": {
      "name": ".type.snc_x509",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.groupName": {
      "name": ".type.groupName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.sapConnAlias": {
      "name": ".type.sapConnAlias",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".type.s_rfcTrace": {
      "name": ".type.s_rfcTrace",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "s_snc_myname": {
      "name": "s_snc_myname",
      "value": "SAPSncMyname",
      "type": "java.lang.String"
    },
    ".type.language": {
      "name": ".type.language",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "sapConnAlias": {
      "name": "sapConnAlias",
      "value": "ac445a06-dc9e-47ad-a257-af8393e7c69c",
      "type": "java.lang.String"
    },
    ".type.c_expirationTime": {
      "name": ".type.c_expirationTime",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.msgServer": {
      "name": ".type.msgServer",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.snc_qop": {
      "name": ".type.snc_qop",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.s_snc_lib": {
      "name": ".type.s_snc_lib",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "connType": {
      "name": "connType",
      "value": "Dedicated Application Server",
      "type": "java.lang.String"
    },
    "appServer": {
      "name": "appServer",
      "value": "SAPAppServer",
      "type": "java.lang.String"
    },
    "snc_SSOrecv": {
      "name": "snc_SSOrecv",
      "value": "",
      "type": "java.lang.String"
    },
    "snc_Bsso": {
      "name": "snc_Bsso",
      "value": "0",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.languageCode": {
      "name": ".type.languageCode",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.s_snc_mode": {
      "name": ".type.s_snc_mode",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "snc_partnername": {
      "name": "snc_partnername",
      "value": "SAPSncPartnername",
      "type": "java.lang.String"
    },
    ".sematictype.password": {
      "name": ".sematictype.password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "snc_mode": {
      "name": "snc_mode",
      "value": "SAPSncMode",
      "type": "java.lang.String"
    },
    ".type.password": {
      "name": ".type.password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.client": {
      "name": ".type.client",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "s_snc_lib": {
      "name": "s_snc_lib",
      "value": "SAPSncLib",
      "type": "java.lang.String"
    },
    "s_serverConnName": {
      "name": "s_serverConnName",
      "value": "testproject.SAPConnectionResource.ServerConnection",
      "type": "java.lang.String"
    },
    ".type.s_programID": {
      "name": ".type.s_programID",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.snc_partnername": {
      "name": ".type.snc_partnername",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "msgServer": {
      "name": "msgServer",
      "value": "SAPMsgServer",
      "type": "java.lang.String"
    },
    "snc_qop": {
      "name": "snc_qop",
      "value": "SAPSncQop",
      "type": "java.lang.String"
    },
    "retryInterval": {
      "name": "retryInterval",
      "value": 30000,
      "type": "java.lang.Integer"
    },
    "c_sapRepository_property": {
      "name": "c_sapRepository_property",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.maxConnections": {
      "name": ".type.maxConnections",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "c_expirationTime": {
      "name": "c_expirationTime",
      "value": 0,
      "type": "java.lang.Integer"
    },
    "s_maxRetryInterval": {
      "name": "s_maxRetryInterval",
      "value": 60,
      "type": "java.lang.Integer"
    },
    "language": {
      "name": "language",
      "value": "English",
      "type": "java.lang.String"
    },
    "snc_x509": {
      "name": "snc_x509",
      "value": "",
      "type": "java.lang.String"
    },
    "s_gatewayHost": {
      "name": "s_gatewayHost",
      "value": "SAPGatewayHost",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".type.s_maxConnections": {
      "name": ".type.s_maxConnections",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "s_gatewayService": {
      "name": "s_gatewayService",
      "value": "SAPGatewayService",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 9,
      "type": "java.lang.Long"
    },
    "clientConnName": {
      "name": "clientConnName",
      "value": "testproject.SAPConnectionResource.ClientConnection",
      "type": "java.lang.String"
    },
    ".type.s_snc_myname": {
      "name": ".type.s_snc_myname",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.c_maxConnections": {
      "name": ".type.c_maxConnections",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.s_maxRetryInterval": {
      "name": ".type.s_maxRetryInterval",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "inboundServices": {
      "name": "inboundServices",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "client",
          "type": "java.lang.String"
        },
        {
          "value": "userName",
          "type": "java.lang.String"
        },
        {
          "value": "password",
          "type": "java.lang.String"
        },
        {
          "value": "appServer",
          "type": "java.lang.String"
        },
        {
          "value": "systemNumber",
          "type": "java.lang.String"
        },
        {
          "value": "snc_mode",
          "type": "java.lang.String"
        },
        {
          "value": "snc_partnername",
          "type": "java.lang.String"
        },
        {
          "value": "snc_qop",
          "type": "java.lang.String"
        },
        {
          "value": "snc_lib",
          "type": "java.lang.String"
        },
        {
          "value": "msgServer",
          "type": "java.lang.String"
        },
        {
          "value": "systemName",
          "type": "java.lang.String"
        },
        {
          "value": "groupName",
          "type": "java.lang.String"
        },
        {
          "value": "s_programID",
          "type": "java.lang.String"
        },
        {
          "value": "s_gatewayHost",
          "type": "java.lang.String"
        },
        {
          "value": "s_gatewayService",
          "type": "java.lang.String"
        },
        {
          "value": "s_snc_mode",
          "type": "java.lang.String"
        },
        {
          "value": "s_snc_qop",
          "type": "java.lang.String"
        },
        {
          "value": "s_snc_myname",
          "type": "java.lang.String"
        },
        {
          "value": "s_snc_lib",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.inboundServices": {
      "name": ".type.inboundServices",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "maxAttempts": {
      "name": "maxAttempts",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".type.systemNumber": {
      "name": ".type.systemNumber",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.retryInterval": {
      "name": ".type.retryInterval",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "s_snc_mode": {
      "name": "s_snc_mode",
      "value": "SAPSncMode",
      "type": "java.lang.String"
    },
    ".type.c_expirationCheckPeriod": {
      "name": ".type.c_expirationCheckPeriod",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "s_bDynamicPool": {
      "name": "s_bDynamicPool",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "c_expirationCheckPeriod": {
      "name": "c_expirationCheckPeriod",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.useSAPGUI": {
      "name": ".type.useSAPGUI",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "c_maxConnections": {
      "name": "c_maxConnections",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.snc_lib": {
      "name": ".type.snc_lib",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection",
      "type": "java.lang.String"
    },
    ".type.rfcTrace": {
      "name": ".type.rfcTrace",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.snc_SSOrecv": {
      "name": ".type.snc_SSOrecv",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "client": {
      "name": "client",
      "value": "SAPClient",
      "type": "java.lang.String"
    },
    "systemNumber": {
      "name": "systemNumber",
      "value": "SAPSystemNumber",
      "type": "java.lang.String"
    },
    "maxConnections": {
      "name": "maxConnections",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "s_snc_qop": {
      "name": "s_snc_qop",
      "value": "SAPSncQop",
      "type": "java.lang.String"
    },
    "s_connType": {
      "name": "s_connType",
      "value": "Default",
      "type": "java.lang.String"
    },
    ".type.systemName": {
      "name": ".type.systemName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.isConnectionless": {
      "name": ".type.isConnectionless",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.s_snc_qop": {
      "name": ".type.s_snc_qop",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "userName": {
      "name": "userName",
      "value": "SAPUserName",
      "type": "java.lang.String"
    },
    ".type.clientConnName": {
      "name": ".type.clientConnName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "s_programID": {
      "name": "s_programID",
      "value": "SAPProgramID",
      "type": "java.lang.String"
    },
    "snc_lib": {
      "name": "snc_lib",
      "value": "SAPSncLib",
      "type": "java.lang.String"
    },
    ".type.threadNum": {
      "name": ".type.threadNum",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "threadNum": {
      "name": "threadNum",
      "value": 8,
      "type": "java.lang.Integer"
    },
    "useSAPGUI": {
      "name": "useSAPGUI",
      "value": "0",
      "type": "java.lang.String"
    }
  }
}