{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection.352888f1-a3d1-4200-904a-ce7539c0987f",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}