{
  "pid": "bw.application.Testproject.application_1.0",
  "properties": {
    ".type.\/\/Testproject\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/Testproject\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/Testproject\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPGatewayService": {
      "name": ".type.\/\/Testproject\/\/SAPGatewayService",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPClient": {
      "name": ".type.\/\/Testproject\/\/SAPClient",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.APPNODE.NAME": {
      "name": "\/\/Testproject\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSncQop": {
      "name": "\/\/Testproject\/\/SAPSncQop",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.MODULE.NAME": {
      "name": "\/\/Testproject\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSncPartnername": {
      "name": "\/\/Testproject\/\/SAPSncPartnername",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPMsgServer": {
      "name": "\/\/Testproject\/\/SAPMsgServer",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/Testproject\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "Testproject.application",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPPassword": {
      "name": "\/\/Testproject\/\/SAPPassword",
      "value": "#!ov7c75qbKzdQvRENvOH9bTF6+oz1h8Iz\/V62oyZGIs8=",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPPassword": {
      "name": ".type.\/\/Testproject\/\/SAPPassword",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSystemName": {
      "name": "\/\/Testproject\/\/SAPSystemName",
      "value": "CE1",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "Testproject.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/Testproject\/\/SAPUserName": {
      "name": ".type.\/\/Testproject\/\/SAPUserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPGatewayService": {
      "name": "\/\/Testproject\/\/SAPGatewayService",
      "value": "sapgw00",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPUserName": {
      "name": "\/\/Testproject\/\/SAPUserName",
      "value": "support03",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPClient": {
      "name": "\/\/Testproject\/\/SAPClient",
      "value": "800",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSncMode": {
      "name": "\/\/Testproject\/\/SAPSncMode",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPAppServer": {
      "name": "\/\/Testproject\/\/SAPAppServer",
      "value": "10.108.80.77",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.Testproject.application_1.0",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSncLib": {
      "name": "\/\/Testproject\/\/SAPSncLib",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPProgramID": {
      "name": "\/\/Testproject\/\/SAPProgramID",
      "value": "tibcosupport03",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPLogonGroup": {
      "name": "\/\/Testproject\/\/SAPLogonGroup",
      "value": "PUBLIC",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/Testproject\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSystemName": {
      "name": ".type.\/\/Testproject\/\/SAPSystemName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPGatewayHost": {
      "name": "\/\/Testproject\/\/SAPGatewayHost",
      "value": "10.108.80.77",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.HOST.NAME": {
      "name": "\/\/Testproject\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/Testproject\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPProgramID": {
      "name": ".type.\/\/Testproject\/\/SAPProgramID",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSncMode": {
      "name": ".type.\/\/Testproject\/\/SAPSncMode",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.APPSPACE.NAME": {
      "name": "\/\/Testproject\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.DOMAIN.NAME": {
      "name": "\/\/Testproject\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/Testproject\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPMsgServer": {
      "name": ".type.\/\/Testproject\/\/SAPMsgServer",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSncLib": {
      "name": ".type.\/\/Testproject\/\/SAPSncLib",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/Testproject\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/Testproject\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSncMyname": {
      "name": "\/\/Testproject\/\/SAPSncMyname",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSncMyname": {
      "name": ".type.\/\/Testproject\/\/SAPSncMyname",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSystemNumber": {
      "name": ".type.\/\/Testproject\/\/SAPSystemNumber",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.MODULE.VERSION": {
      "name": "\/\/Testproject\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSncPartnername": {
      "name": ".type.\/\/Testproject\/\/SAPSncPartnername",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/Testproject\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPLogonGroup": {
      "name": ".type.\/\/Testproject\/\/SAPLogonGroup",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/Testproject\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPAppServer": {
      "name": ".type.\/\/Testproject\/\/SAPAppServer",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/Testproject\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Testproject\/\/SAPSystemNumber": {
      "name": "\/\/Testproject\/\/SAPSystemNumber",
      "value": "00",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPSncQop": {
      "name": ".type.\/\/Testproject\/\/SAPSncQop",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/SAPGatewayHost": {
      "name": ".type.\/\/Testproject\/\/SAPGatewayHost",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Testproject\/\/BW.HOST.NAME": {
      "name": ".type.\/\/Testproject\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}